# Supabase Credentials
VITE_SUPABASE_URL="https://fipefacqecfesioizqsx.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpcGVmYWNxZWNmZXNpb2l6cXN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyNDc1NTAsImV4cCI6MjA4NTgyMzU1MH0.MPfJICQTLKQBe9n0SghuOsfKr6Q2ycIpRGtW50cWR_8y"
